<div class="flex items-center justify-center min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8 w-full">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-6 text-center">Désincription échouée</h1>
        <p>Bonjour {{ user.getFirstname() }} {{ user.getLastname() }},</p>
        <p>Vous n'avez pas pu vous désinscrire de l'événement "{{ event.getTitle() }}".</p>
        <p>Description : "{{ event.getDescription() }}"</p>
        <p>Veuillez nous excuser pour ce désagrément.</p>
    </div>
</div>